.div-seller button{
	width: 404px;
	margin-top: 5px;
    margin-bottom: 0px;
    height: 40px;
    color: #555555;
    font-size: 14px;
	font-weight: bold;
	border-color: #bfbfbf;
}
.icon-seller {
	border-radius: 100%;
	position: absolute;
	left: 160px;
	top: 13px;
	margin-right: 8px;
	width: 25px;
	font-size: 15px;
	line-height: 24px;
}

